



<head>
    <style>
        body {
            background-image: url("res/5408701-balloon-wallpaper.jpeg");
        }
    </style>
</head>



<div class="navbar-header">
    <a href="#/!">
        <span class="glyphicon glyphicon-home" ></span> 홈으로
    </a>
</div>

<div ng-controller="typingController" name="outline">
    <br>
    <br>
    <label>속담:</label> <input type="text"  class="form-control" ng-model="inputData" ng-style="inputStyle" readonly><br>
    <br>
    <label>속담을 입력 하세요:</label> <input type="text"  class="form-control" ng-model="outputData" ng-keydown="typing($event)"
                                      ng-style="outputStyle" autoFocus> <br>
    분당 속도 : {{curScore}}<br>
    최고 분당 속도 : {{maxScore}}<br>
    시간 : {{spendSecond}} 초<br>
</div>



